.header__logo {
  margin-left: 20px;
  margin-right: 20px;
}

.header__logo-image {
  margin-right: 55px;
  margin-top: 12px;
}

.header__logo-name {
  margin-right: 70px;
  margin-top: 24px;
}

.header__logo:hover {
  opacity: 0.8;
}

.header__logo:focus,
.header__logo:active {
  opacity: 0.6;
}

.header__main-nav {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.header__main-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__main-nav-item {
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid @lightgray-border;
  text-align: center;

  &:hover {
    opacity: 0.6;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }
}

.header__main-nav-list:last-child {
  border-bottom: 1px solid @lightgray-border;
}

.header__main-nav-link {
  text-decoration: none;
  padding-top: 22px;
  padding-bottom: 24px;
  color: @black;
}

.header__preview {
  background-image: url("../img/header/index-background-desktop.jpg");
  background-repeat: no-repeat;
}

.header__preview-name-title {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: @white;
  margin: 0;
}

.header__preview-slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @white;
  text-align: center;
}

.header__preview-button {
  background-color: @basic-green;
  color: @white;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 7px 73px 7px 73px;

  &:hover {
    background-color: @basic-green-hover;
  }

  &:focus,
  &:active {
    color: @basic-green-focus;
  }
}
